 <div class="container mt-5">
        <h2 class="text-center">Order Details</h2>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Mobile Number</th>
                    <th>Pincode</th>
                    <th>Address</th>
                    <th>Payment Method</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
<tr>
    <td>{{this.submittedAt}}</td>
    <td>{{this.deliveryDetails.mobile}}</td>
    <td>{{this.deliveryDetails.pincode}}</td>
    <td>{{this.deliveryDetails.address}}</td>
    <td>{{this.payment_method}}</td>
    <td> ₹ {{this.totalAmount}}</td>
    <td> {{this.status}} </td>
    <td><a href="/ordered-products">
<button class="btn btn-primary view-products" data-id="{{this._id}}">View Products</button>

</a>
</td>
</tr>
{{/each}}

            </tbody>
        </table>
    </div>
    <script>
       $(document).ready(function() {
  $('.view-products').click(function() {
    var orderId = $(this).data('id');

    $.ajax({
      url: '/ordered-products',
      type: 'GET',
      data: { id: orderId },
      success: function(response) {
        // Redirect to the '/ordered-products' page with the orderId as a query parameter
        window.location.href = '/ordered-products?id=' + orderId;
      },
      error: function(error) {
        console.error(error);
      }
    });
  });
});


    </script>